.roleManager-button {
    font-size: 15px;
    padding: 3px 7px;
    margin: 0 3px;
}

.roleManager-container {
    padding: 0;
    margin: 0;
}

.roleManager-container .container-form {
    width: 38%;
    padding: 0 8px;
}

.roleManager-container .container-preset {
    width: 40%;
    padding: 0 3px;
}

.roleManager-container .container-buttons {
    padding: 0 3px;
    width: 22%;
}

.roleManager-container-table label {
    margin-left: 5px;
}

.roleManager-spinner {
    margin: 5% 45%;
}

hr {
    margin: 10px 0;
}