#login-button {
    margin-top: 10px;
}

#logout-button {
    line-height: 0px;
    padding: 6px;
    margin-top: 10px;
}

tr td:first-child {
    padding-left: 12px;
}

#control-container {
    text-align: center;
}

.account-controls {
    margin: 10px 5px;
}

#account-window span {
    font-size: 25px;
    font-weight: 400;
}

#account-window {
    height: 150px;
}

#login-tooltip {
    margin-left: 5px;
}

.account-login {
    animation: move-login 1s forwards;
    text-align: left;
}

.account-container {
    padding-top: 10px;
}

#welcome-container {
    animation: move-login 1s forwards;
    text-align: center;
}

#control-container {
    text-align: center;
}

#login-spinner {
    margin: 20% 45%;
}

@keyframes move-login {
    from {
      transform: translateY(-200px);
    }
    to {
      transform: translateY(0);
    }
  }