.roleMenu-header {
    text-align: center;
}

table {
    text-align: center;
}

.roleMenu-badge {
    font-size: 13px;
    padding: 5px 20px;
}

td {
    vertical-align: middle;
}

td:last-child {
    padding: 0;
}

td:first-child {
    padding: 0 !important;
}

.roleMenu-button-edit {
    font-size: 15px;
    padding: 3px 7px;
    margin: 0 3px;
}

.roleMenu-spinner {
    margin: 5% 45%;
}

/* .roleMenu-color<permission_name> */
.roleMenu-colorUser-Manager {
    background-color: #3e179a !important;
}