.account-data span {
    font-weight: 600;
}

.account-login {
    padding: 10px 0;
}

#login-button {
    margin-top: 10px;
}

#logout-button {
    margin-left: 30px;
}

tr td:first-child {
    padding-left: 12px;
}

#welcome-sign {
    text-align: center;
    padding: 15px 0;
}